<!DOCTYPE html>
<html>

<head>

<title>sakumins</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">

</head>

<body>

<h1> Sākums</h1>

<header>

<div>
<a class="btn btn-info" role="button" href="{{ url_for('viens') }}">viens</a>

<a class="btn btn-info" role="button" href="{{ url_for('divi') }}">divi</a>

<a class="btn btn-info" role="button" href="{{ url_for('tris') }}">tris</a>
</div>

</header>

  </body>

</html>