<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">

<title>tresalapa</title>

</head>

<body>
<h1>tresalapa</h1>

<svg height="140" width="500">
  <ellipse cx="200" cy="80" rx="100" ry="50" style="fill:yellow;stroke:purple;stroke-width:2" />
   
</svg>

<header>
  <div>
<a class="btn btn-info" role="button" href="{{ url_for('sakums') }}">atpakal</a>
</div>

</header>

</body>

</html>