<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
<title>pirmalapa</title>

</head>

<body>
<h1>pirmalapa</h1>

<canvas id="myCanvas" width="150" height="150" style="border:1px solid #d3d3d3;">
</canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.beginPath();
ctx.arc(75, 75, 50, 0, 2 * Math.PI);
ctx.stroke();
</script> 


<header>
  <div>
<a class="btn btn-info" role="button" href="{{ url_for('sakums') }}">atpakal</a>
</div>

</header>

</body>

</html>